body {
	background-color: #2F2D2E;  /*def black*/
	color: #D7EBBA; /*def green*/
	font-family: "Verdana"; 
	text-align: center 
}
.floatr {/*float a droite*/
	float: right;
}
.floatl {/*float a gauche*/
	float: left;
}
.para1 {/*Taille du texte: 25 pixels*/
	font-size: 25px;
}
h1 {/*Bordure de 1px, fond gris, couleur du texte blanc*/
	border: 1px solid #2F2D2E; 
	background: rgb(47,45,46);
	color: white;
}
.titlepad { /*Padding de la banniere*/
	padding-top: 25px; 
	padding-bottom: 25px; 
}
strong {/*Tout le texte en gras sera rose*/
	color: #FFA69E;/*def pink*/
} 
.boutanim { /*Classe du bouton*/
    background-color: #000000;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.boutanim:hover { /*Lorsque l'on passe la souris au dessus du bouton*/
    background-color: black;
    border-radius: 4px;
    animation-name: rgbanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
@keyframes rgbanim{ /*Animation du bouton*/
    0%   {border: 2px solid red;color: red;}
    16%  {border: 2px solid yellow;color: yellow;}
    32%  {border: 2px solid green;color: green;}
    48% {border: 2px solid aqua;color: aqua;}
    64% {border: 2px solid blue;color: blue;}
    80% {border: 2px solid purple;color: purple;}
    100% {border: 2px solid red;color: red;}
}
.banner{/*Banniere de boutons de nav*/
    background-color:#4f4d4d;/*gray*/
    color: #D7EBBA;
    height: 40px;
    font-size: 16pt;
    text-align: center;
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fontBig{/*+ grande police*/
    font-size: 23px;
}
.centrerTexte{/*centrer le texte*/
    text-align: center;
}
lienaa{/*Pour le bouton de nav*/
	padding: 5px;
	border: 2px solid #D7EBBA;
	border-radius: 10px;
}
lienaa:hover {/*Passe la souris au dessus du bouton de nav*/
    font-weight: bold;
	animation: buttonHover 1.5s linear 0s infinite normal;
}
@keyframes buttonHover {/*Animation bouton de nav*/
	0% {background-color: transparent;}
	50% {background-color: #617544;}
	100% {background-color: transparent;}
}
a{/*Pour retirer la couleur bleue et le soulignage automatique des liens*/
    color: #D7EBBA;
    text-decoration: none;
}
.twlink {/*Soulignage des liens*/
	text-decoration-line: underline;
}
.twlink:hover {/*Changement de couleur des liens lorsque l'on passe la souris*/
	text-decoration-line: underline;
	color: #FFA69E;
}
.unblurOnHover {/*Floute l'image de base*/
	filter: blur(16px)
}
.unblurOnHover:hover {/*Joue l'anim lorsque l'on passe la souris dessus*/
	animation: unblur 0.3s linear 0s 1 normal forwards;
}
@keyframes unblur {/*Défloute l'image*/
	0% {filter: blur(16px)}
	50% {filter: blur(8px)}
	100% {filter: blur(0px)}