body {
	background-color: #2F2D2E;  /*def black*/
	color: #D7EBBA; /*def green*/
	font-family: "Verdana"; 
	text-align: center 
}
.para1 {
	font-size: 25px;
}
h1 {
	border: 1px solid #2F2D2E; 
	background: rgb(47,45,46);
	color: white;
}
.titlepad { 
	padding-top: 25px; 
	padding-bottom: 25px; 
}
strong {
	color: #FFA69E;/*def pink*/
} 
.meme { 
	font-family: "Trebuchet MS", sans-serif; 
	font-size: 18pt;
	color: white
}
.boutanim {
    background-color: #000000;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.boutanim:hover {
    background-color: black;
    border-radius: 4px;
    animation-name: rgbanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
@keyframes rgbanim{ /*Animation du bouton*/
    0%   {border: 2px solid red;color: red;}
    16%  {border: 2px solid yellow;color: yellow;}
    32%  {border: 2px solid green;color: green;}
    48% {border: 2px solid aqua;color: aqua;}
    64% {border: 2px solid blue;color: blue;}
    80% {border: 2px solid purple;color: purple;}
    100% {border: 2px solid red;color: red;}
}
.banner{
    background-color:#4f4d4d;/*gray*/
    color: #D7EBBA;
    height: 40px;
    font-size: 16pt;
    text-align: center;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 50px;
}
.fontBig{
    font-size: 23px;
}
.centrerTexte{
    text-align: center;
}
lienaa{
	padding: 5px;
	border: 2px solid #D7EBBA;
	border-radius: 10px;
}
lienaa:hover {
    background-color: #617544;
    font-weight: bold;
}
a{
    color: #D7EBBA;
    text-decoration: none;
}
bigAhhSlash {
    size: 400px;
}